{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}temp.io{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'tempio.css' %}" />
        {% block css %}{% endblock css %}
    </head>
    <body>
        <div id="header">
            <a href="/">/temp</a>{% block header %}{% endblock header %}
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <div id="content">
                {% block content %}{% endblock content %}
            </div>
            <div id="sidebar">
                {% block sidebar %}{% endblock sidebar %}
            </div>
        </form>
        <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
        {% block javascript %}{% endblock javascript %}
    </body>
</html>
