{% extends "base.html" %}

{% load static %}

{% block javascript %}
    <script src="{% static 'tempio.js' %}"></script>
{% endblock %}

{% block header %}{% if slug %}/{{ slug }}{% endif %}<a class="download" href="/new/"><img src="{% static 'plus.svg' %}" width="25" alt="New Document" /></a>{% endblock header %}

{% block content %}
	{% for f in files %}
		<a class="file" href="{{ f.get_absolute_url }}">
			<div class="thumb">
				{% if f.is_image %}
					<img src="{{ f.thumbnail_data }}" />
				{% else %}
					{% if f.is_text %}
						{{ f.text|linebreaksbr }}
					{% else %}
						<img src="{% static 'file.svg' %}" alt="{{ f.name }}" style="opacity: 0.5;" />
					{% endif %}
				{% endif %}
			</div>
			<div class="name">{{ f.name }}</div>
		</a>
	{% endfor %}
{% endblock content %}

{% block sidebar %}
	{% for t in tags %}
		<a class="tag{% if t.slug == slug %} active{% endif %}" href="{{ t.get_absolute_url }}"><span class="text">{{ t }}</span><span class="count">{{ t.num_files }}</span></a>
	{% endfor %}
{% endblock sidebar %}
